* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    border: 0;
    outline: 0;
}

.product {
    padding: 0.625rem;
    background: #fff;
    border: 1px solid #ddd;
    margin-bottom: 1rem;
    width: 24%;
    margin-top: 2rem;
}

.container {
    width: 62.5rem;
    margin: 0 auto;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product img {
    width: 100%;
}

.product h6 {
    font-size: 20px;
    margin-bottom: 10px;
}

.price {
    font-size: 20px;
    color: palevioletred;
}

.actions {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.actions button {
    height: 40px;
    padding: 0 15px;
    flex: 1;
    cursor: pointer;
}

.actions button[disabled] {
    opacity: .3;
    cursor: not-allowed;
}

.actions .buy-btn {
    background-color: rgb(238, 178, 238);
    font-size: 12px;
    font-weight: 500;
    border-radius: 0 4px 4px 0;
}

.actions .sell-btn {
    background-color: #ccc;
    color: #333;
    font-size: 12px;
    font-weight: 500;
    border-radius: 4px 0 0 4px;
}

.actions .amount {
    width: 50px;
    text-align: center;
    border: 1px solid #ddd;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    font-weight: bold;
    color: #555;
}